* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1a25;
}

.wrap {
  max-width: 1140px;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  color: #ffffff;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .wrap {
    max-width: 970px;
  }
}
@media (max-width: 1000px) {
  .wrap {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .wrap {
    max-width: none;
  }
}

h2 {
  color: #71899d;
  font-size: 55px !important;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #828282;
}
@media (max-width: 1000px) {
  .nav-box {
    display: none;
  }
}

@media (max-width: 1000px) {
  .wrap_header {
    justify-content: flex-end;
    display: flex;
  }
}

.nav-box_link {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}

.nav-box_item {
  transition: 0.4s;
}
.nav-box_item:hover {
  transform: scale(1.2);
}

.btn-menu {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  margin: 40px 0 0 40px;
  width: 70px;
  height: 30px;
}
@media (max-width: 1000px) {
  .btn-menu {
    display: flex;
    z-index: 20;
  }
}

.menu-burger-logo {
  display: block;
  height: 1px;
  width: 70px;
  background-color: #fff;
  position: relative;
}
.menu-burger-logo::after {
  content: "";
  display: block;
  height: 1px;
  width: 70px;
  background-color: #fff;
  position: absolute;
  top: 15px;
  transition: 0.3s;
}
.menu-burger-logo::before {
  content: "";
  display: block;
  height: 1px;
  width: 70px;
  background-color: #fff;
  position: absolute;
  top: -15px;
  transition: 0.3s;
}
.menu-burger-logo.active {
  height: 0;
}
.menu-burger-logo.active::after {
  transform: rotate(45deg);
  top: 0;
}
.menu-burger-logo.active::before {
  transform: rotate(-45deg);
  top: 0;
}

.burger-menu {
  width: 100%;
  height: 800px;
  border-radius: 10px;
  background-color: #232323;
  z-index: 10;
  position: absolute;
  opacity: 0;
  transition: 0.4s;
}
.burger-menu.active {
  opacity: 1;
}

.nav-burger-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 45px 20px 45px 20px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.wrap_about-me {
  padding-top: 50px;
  padding-bottom: 100px;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box_header {
  width: 521px;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 37px;
  font-size: 40px;
}

.text-box_content {
  width: 580px;
  text-align: center;
  font-size: 25px;
}
@media (max-width: 1200px) {
  .text-box_content {
    width: 100%;
  }
}

.text-box-bg {
  background-image: url("../img/background-header 1.png");
  min-height: 354px;
  display: flex;
}
@media (max-width: 1200px) {
  .text-box-bg {
    flex-direction: column;
  }
}

.fa-arrow-up-wide-short {
  width: 225px;
  height: 200px;
  color: #706d7e;
}

.fa-brain {
  width: 225px;
  height: 200px;
  color: #2d2d2e;
}

.img_about {
  width: 100%;
}

.wrap_plus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 300px;
}

.plus_header {
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 80px;
}

.plus-box {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-direction: column;
  padding-left: 50px;
  gap: 50px;
}

.plus-box-text {
  max-width: 700px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.plus-box__img {
  width: 215px;
}

.plus-box__items {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .plus-box__items {
    flex-direction: column;
  }
}

.plus-box__sum {
  cursor: pointer;
  display: block;
}

.plus-box__header {
  text-align: center;
  padding-bottom: 10px;
  justify-content: center;
  font-size: 35px;
}

.plus-box__det {
  position: relative;
}

.plus-box__drop {
  position: absolute;
  width: 217px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  text-align: center;
}

.plus__text {
  font-size: 25px;
}

.work-header {
  text-align: center;
  padding-bottom: 80px;
}

.work-box {
  display: flex;
  justify-content: space-around;
  padding-left: 26px;
  padding-right: 26px;
}

.project_box {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper {
  height: 330px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background-color: #71899d;
  border-radius: 7px;
}

.swiper-button-next::after {
  color: #71899d;
}

.swiper-button-prev::after {
  color: #71899d;
}

.wrap_skills {
  padding-top: 170px;
}

.skills-header {
  text-align: center;
  padding-bottom: 100px;
}

.skills-content {
  background-image: url("../img/bg-skills.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 702px;
  display: flex;
  justify-content: end;
}
@media (max-width: 1200px) {
  .skills-content {
    align-items: center;
    justify-content: center;
  }
}

.skill-box {
  width: 593px;
  height: 568px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.skill-box__item {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.wrap_footer {
  align-items: center;
  flex-direction: column;
  display: flex;
  gap: 55px;
  padding-bottom: 40px;
}

.ancor-up {
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
}

.icon-footer {
  padding-right: 15px;
}

.fa-github {
  width: 60px;
  height: 60px;
  color: #ffffff;
  transition: 0.4s;
}
.fa-github:hover {
  transform: scale(1.2);
}

.link-github {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.link-github-text {
  transition: 0.4s;
  font-size: 25px;
}
.link-github-text:hover {
  transform: scale(1.2);
}

.footer__title {
  font-size: 30px;
}/*# sourceMappingURL=style.css.map */