* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1a25;
}

.wrap {
    max-width: 1140px;
    margin: 0 auto;
    // outline: 1px solid red;
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
    margin: 0 auto;
    @media (max-width: 1200px) {
        max-width: 970px;
    }
    @media (max-width: 1000px) {
        max-width: 750px;
    }
    @media (max-width: 767px) {
        max-width: none;
    }
}
h2 {
    color: #71899d;
    font-size: 55px !important;
}

@import "blocks/_nav-box.scss";

@import "blocks/_about-me.scss";

@import "blocks/_plus.scss";

@import "blocks/_work.scss";

@import "blocks/skills";

@import "blocks/_footer.scss";
