@import "reset";
.about {
    background: url("../img/about/pattern-bg-1 1.png") 0 0 / cover no-repeat;
}
.about__container {
    padding: 20% 10px 14% 10px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1105px) {
        justify-content: center;
    }
}
.about__text-box {
    flex: 1 1 38%;
    margin-right: 15px;
    margin-top: 79px;
    min-width: 422px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1105px) {
        align-items: center;
    }
    @media (max-width: 1090px) {
        margin-right: 0;
    }
    @media (max-width: 500px) {
        min-width: 300px;
    }
}
.about__subtitle {
    color: #09aff4;
    @include adaptiveValue(font-size, 56, 30);
    font-weight: 700;
    line-height: 160.714%; /* 90px */
    margin-bottom: 6.5%;
}
.about__text {
    color: #fff;
    @include adaptiveValue(font-size, 30, 15);
    font-size: 30px;
    font-weight: 400;
    line-height: 106.667%; /* 32px */
    @media (max-width: 1105px) {
        margin-bottom: 4%;
    }
    @media (max-width: 450px) {
        text-align: center;
    }
}
.about__img-wrap {
    position: relative;
    flex: 1 1 59.7%;
    height: 0;
    padding-bottom: prop(594, 1430);
    border: 6px solid rgba(9, 175, 244, 0.7);
    max-width: 749px;
    @media (max-width: 1105px) {
        padding-bottom: prop(718, 1100);
        max-width: none;
    }
}
.about__img {
}
.about__title {
    color: #fff;
    @include adaptiveValue(font-size, 56, 30);
    font-weight: 700;
    line-height: 160.714%; /* 90px */
}
