@import "reset";
.footer {
    background: url("../img/footer/footer-bg.png") 0 0 / cover no-repeat;
    overflow: hidden;
}
.footer__container {
    padding: 5% 10px 5% 10px;
    display: flex;
    flex-wrap: wrap-reverse;
    @media (max-width: 740px) {
        justify-content: center;
        row-gap: 30px;
    }
}
.footer__text-box {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 340px;
    transform: translateY(400px);
    @media (max-width: 740px) {
        flex: 1 1 100%;
        min-width: 0;
        row-gap: 20px;
    }
}
.footer__title {
    color: #09aff4;
    @include adaptiveValue(font-size, 54, 30);
    font-weight: 600;
    letter-spacing: 0.54px;
}
.footer__text {
    color: #fff;
    @include adaptiveValue(font-size, 30, 25);
    font-weight: 500;
    letter-spacing: 0.3px;
}
.footer__social-box {
    display: flex;
    column-gap: 40px;
}
.footer__social-item {
}
.fa-telegram {
    color: #09aff4;
    font-size: 45px;
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        color: #fff;
    }
}
.fa-vk {
    color: #09aff4;
    font-size: 45px;
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        color: #fff;
    }
}
.footer__form-box {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    transform: translateY(400px);
    @media (max-width: 740px) {
        flex: 1 1 100%;
    }
}
.form {
    border-radius: 25px;
    border: 1px solid #09aff4;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 15px 40px 15px 40px;
    flex: 0 1 66%;
    min-width: 357px;
    @media (max-width: 740px) {
        flex: 1 1 100%;
        min-width: 0;
    }
}
.form__row {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.form__name-row {
    color: #09aff4;
    @include adaptiveValue(font-size, 25, 15);
    font-weight: 600;
    letter-spacing: 0.25px;
}
.form__input {
    border-radius: 10px;
    background: #d9d9d9;
    width: 100%;
    padding: 15px;
}
.form__text-area {
    height: 84px;
    width: 100%;
    border-radius: 10px;
    background: #d9d9d9;
    padding: 15px;
}
.form__btn-box {
    margin-top: 19px;
    display: flex;
    justify-content: center;
}
.form__btn {
    border-radius: 0px 25px;
    background: #09aff4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    @include adaptiveValue(font-size, 40, 25);
    font-weight: 500;
    letter-spacing: 0.48px;
    padding: 10px 25px 10px 25px;
    transition: 0.5s;
    border: 1px solid #09aff4;
    &:hover {
        transition: 0.5s;
        color: #09aff4;
        background-color: transparent;
    }
}
