.technologies {
    background: url("../img/technologies/technologies__bg.png") 0 0 / cover no-repeat;
}
.technologies__container {
    padding: 2% 10px 3% 10px;
    position: relative;
}
.technologies__subtitle {
    margin-bottom: 5.5%;
    text-align: center;
}
.technologies__slider {
}
.technologies__slider-item {
    background: rgba(0, 0, 0, 0.7);
    width: 86%;
    height: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        background: #ffffff;
    }
    @media (max-width: 600px) {
        width: 100%;
    }
}
.technologies__slider-item-img {
    max-width: 100%;
}
.technologies__arrow-prev {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: url("../img/certificates/arrow-prev.png") 9px 0 / contain no-repeat;
    background-color: #060922;
    position: absolute;
    top: 60%;
    left: 0;
    cursor: pointer;
    z-index: 10;
}
.technologies__arrow-next {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: url("../img/certificates/arrow-next.png") 9px 0 / contain no-repeat;
    background-color: #060922;
    position: absolute;
    top: 60%;
    right: 0;
    cursor: pointer;
    z-index: 10;
}
