.wrap_about-me {
    padding-top: 50px;
    padding-bottom: 100px;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box_header {
    width: 521px;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 37px;
    font-size: 40px;
}

.text-box_content {
    width: 580px;
    text-align: center;
    font-size: 25px;
    @media (max-width: 1200px) {
        width: 100%;
    }
}

.text-box-bg {
    background-image: url("../img/background-header\ 1.png");
    min-height: 354px;
    display: flex;
    @media (max-width: 1200px) {
        flex-direction: column;
    }
}
.fa-arrow-up-wide-short {
    width: 225px;
    height: 200px;
    color: #706d7e;
}
.fa-brain {
    width: 225px;
    height: 200px;
    color: #2d2d2e;
}
.img_about {
    width: 100%;
}
