.work-header {
    text-align: center;
    padding-bottom: 80px;
}

.work-box {
    display: flex;
    justify-content: space-around;
    padding-left: 26px;
    padding-right: 26px;
}

.project_box {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.img_work {
}
.swiper-slide {
    display: flex;
    justify-content: center;
}
.swiper {
    height: 330px;
}
.swiper-pagination .swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
    background-color: #71899d;
    border-radius: 7px;
}
.swiper-button-next {
    &::after {
        color: #71899d;
    }
}
.swiper-button-prev {
    &::after {
        color: #71899d;
    }
}
