* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}
ul,
summary {
  list-style: none;
}
// ===================================================Миксины=============================================

//адаптивное св-во
@mixin adaptiveValue($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
  // Ширина полотна макета
  $maxWidth: 1430;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}

// =========================================Функции=====================================================

//перевод в em
@function em($px, $size) {
  $result: $px / $size + em;
  @return $result;
}

//перевод в rem
@function rem($px) {
  $result: $px / 16 + rem;
  @return $result;
}

//пропорциональное изменение высоты изображения
@function prop($h, $w) {
  $result: $h / $w * 100%;
  @return $result;
}

// =========================================Переменные=====================================================
$colorBlue: #09aff4;
