//импорты
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;1,700&display=swap");
@import "reset";
@import "mixin";
@import "variables";
@import "root";


// ================================================================Основное
body {
    font-family: "Jost", sans-serif;
}

section {
    padding: 130px 10px;

    @include respond-to("tab") {
        padding: 60px 10px;
    }
}

// .container {
//     max-width: 1432px;
//     margin: 0 auto;
// }

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.bigImg {
    transform: scale(160%);

    @media (max-width: 750px) {
        width: 90%;
        transform: scale(100%);
    }
}

.title {
    color: $colorBlue;
    @include adaptiveValue(font-size, 25, 18);
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 100%;
}

.subtitle {
    color: #fff;
    @include adaptiveValue(font-size, 35, 20);
    font-weight: 500;
    letter-spacing: 0.48px;
}

.popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    visibility: hidden;

    &.active {
        visibility: visible;
    }
}

.popup-wrap {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}

.img-exit {
    color: white;
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    transition: 0.2s;

    &:hover {
        transition: 0.2s;
        transform: scale(1.2);
    }
}

.minimize {
    cursor: pointer;

    &:hover {
        transform: scale(1.01);
    }
}

.form__btn {
    border-radius: 0px 25px;
    background: #09aff4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.48px;
    padding: 10px 25px 10px 25px;
    transition: 0.5s;
    border: 1px solid #09aff4;

    &:hover {
        transition: 0.5s;
        color: #09aff4;
        background-color: transparent;

    }
}

.circles {
    display: block;
    border-radius: 50%;
    position: absolute;
    opacity: 0.5;
    z-index: 5;
    background: #fff;
}

.buoyant-container {
    // height: 900px !important;
}

.buoyant-parent {
    // height: 900px;
}

:focus {
    outline: 0;
    outline-offset: 0;
}

input {
    color: #fff;
}

textarea {
    color: #fff;
}

.fancybox__slide>form {
    border-radius: 10px;
    max-height: 480px;
}

.link-box {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #09aff4;
    z-index: 10;
    bottom: 50px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &>svg {
        height: 30px;
        width: 30px;
        stroke: white;
        fill: white;
        position: relative;
        z-index: 10;
        margin-top: 10px;
    }

    &:hover {
        &>.main-link {
            transition: 0.3s;
            width: 40px;
            min-height: 40px;
            transform: translateY(-80px);
        }

        &>.link-box-wrap {
            min-height: 170px;
        }
    }

    @include respond-to("tab") {
        width: 40px;
        height: 40px;

        &:hover {
            &>.main-link {
                width: 30px;
                min-height: 30px;
                transform: translateY(-70px);
            }

            &>.link-box-wrap {
                min-height: 150px;
            }
        }
    }
}

.main-link {
    transition: 0.3s;
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: #19a3e4;
    transform: translateY(0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-link_green {
    background-color: #22d466;
}

.link-box-ping {
    width: 70px;
    min-height: 70px;
    border-radius: 100%;
    background-color: #09aff4;
    position: absolute;
}

.link-box-wrap {
    position: absolute;
    width: 70px;
    min-height: 0;
}

.ping {
    -webkit-animation: ping 1.5s ease-in-out infinite both;
    animation: ping 1.5s ease-in-out infinite both;
}

.ping-2 {
    -webkit-animation: ping 1s ease-in-out infinite both;
    animation: ping 1s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-10 12:42:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
@-webkit-keyframes ping {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}

@-webkit-keyframes ping-2 {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}

@keyframes ping {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}

@keyframes ping-2 {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}

.test {
    height: 0;

    @include respond-to("tab") {
        height: 300px;
    }
}

input::placeholder {
    color: #fff;
}

.form-message {
    display: none;
}

.active_green {
    display: flex;
    border: 1px solid green;
    color: green;
}

.active_red {
    display: flex;
    border: 1px solid red;
    color: red;
}

@import "./blocks/about";
@import "./blocks/footer";
@import "./blocks/header";

@import "./blocks/service";
@import "./blocks/certificates";
@import "./blocks/portfolio";
@import "./blocks/technologies";
@import "./blocks/reviews";